<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="map"
      xsi:schemaLocation=""
      autoReload="true">
    <variable name="logFormat" value="${level:uppercase=true}:${longdate}:${callsite}:${message}"/>
    <variable name="ArchiveFiles" value="5"/>
    <variable name="ArchiveMaxSize" value="101400"/>
    <variable name="ArchiveDateFormat" value="yyyyMMdd" />
    <variable name="ArchiveNumbering" value="DateAndSequence" />
    <variable name="AppName" value="FuelSurCharges" />

    <!-- the targets to write to -->
    <targets>
        <target name="file" xsi:type="File"
                fileName="${gdc:item=logDirectory}${AppName}_${shortdate}.log"
                archiveAboveSize="${ArchiveMaxSize}"
                archiveNumbering="${ArchiveNumbering}"
                archiveFileName="${gdc:item=logDirectory}${AppName}_${shortdate}{######}.log"
                maxArchiveFiles="${ArchiveFiles}"
                layout="${logFormat}"/>
        <target xsi:type="ColoredConsole"
                name="console"
                layout="${logFormat}"
                useDefaultRowHighlightingRules="false"
                detectConsoleAvailable="false">
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Error" foregroundColor="DarkRed"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Info" foregroundColor="DarkGreen"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Debug" foregroundColor="DarkGray"/>
            <highlight-row backgroundColor="NoChange" condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="console,file" />
    </rules>
</nlog>